PROJECT_NAME=fraud-detection-mlops
FRAUD_DETECTION_ROOT=/app
FRAUD_DETECTION_MODEL_PATH=/app/models/trained/model_bundle.joblib
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_REGISTRY_URI=http://localhost:5000
GDRIVE_CREDENTIALS_DATA=
POSTGRES_DB=mlflow
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflow
PROMETHEUS_MULTIPROC_DIR=/tmp/prometheus
API_PORT=8000
STREAMLIT_PORT=8501
MLFLOW_PORT=5000
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
